aniso8601==4.1.0
astroid==2.1.0
bcrypt==3.1.6
bson==0.5.7
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
dlib==19.16.0
docopt==0.6.2
face-recognition==1.2.3
face-recognition-models==0.3.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-JWT-Extended==3.16.0
Flask-PyMongo==2.2.0
Flask-RESTful==0.3.7
idna==2.8
imutils==0.5.2
isort==4.3.4
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
lazy-object-proxy==1.3.1
MarkupSafe==1.1.0
mccabe==0.6.1
numpy==1.16.1
opencv-python==4.0.0.21
paho-mqtt==1.4.0
passlib==1.7.1
Pillow==5.4.1
pycparser==2.19
PyJWT==1.7.1
pylint==2.2.2
pymongo==3.7.2
python-dateutil==2.8.0
pytz==2018.9
PyYAML==3.13
pyzbar==0.1.7
qrcode==6.1
requests==2.21.0
six==1.12.0
transitions==0.6.9
typed-ast==1.3.0
urllib3==1.24.1
websockets==7.0
Werkzeug==0.14.1
wrapt==1.11.1
